<p>user works!</p>
<router-outlet></router-outlet>
<h1>Bienvenidos</h1>

    <div class="container">
        <h1>Formulario</h1>
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label">name</label>
                <i class="bi bi-airplane-engines-fill"></i>
                <input type="text" class="form-control" id="name" placeholder="Escribe tu nombre"  required>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">lastname</label>
                <input type="text" class="form-control" id="lastname" placeholder="Escribe tu apellido" required>
            </div>
            <div class="mb-3">
                <label for="curso" class="form-label">curse</label>
                <input type="text" class="form-control" id="curse" placeholder="Escribe tu curso" required>
            </div>
            <div class="mb-3">
                <label for="edad" class="form-label">date</label>
                <input type="number" class="form-control" id="date" placeholder="Escribe tu edad" required>
            </div>
            <div class="mb-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" placeholder="Escribe tu ciudad" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
