<div class="container">
  <br>
  <h2>Formulario</h2>
  <!--atributos -->
  <form (submit)="submitForm()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="userData.nombre" name="nombre" placeholder="Ingresa tu Nombre">
    </div>

    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido:</label>
      <input type="text" class="form-control" id="apellido" [(ngModel)]="userData.apellido" name="apellido" placeholder="Ingresa tu Apellido">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="userData.email" name="email" placeholder="Ingresa tu Email ">
    </div>

    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono:</label>
      <input type="tel" class="form-control" id="telefono" [(ngModel)]="userData.telefono" name="telefono" placeholder="Ingresa tu telefono">
    </div>

    <div class="mb-3">
      <label for="direccion" class="form-label">Dirección:</label>
      <input type="text" class="form-control" id="direccion" [(ngModel)]="userData.direccion" name="direccion" placeholder="Ingresa tu Dirección">
    </div>


    <div class="mb-3">
      <label for="genero" class="form-label">Género:</label>
      <select class="form-select" id="genero" [(ngModel)]="userData.genero" name="genero" >
        <option *ngFor="let opcion of generos" [value]="opcion">{{ opcion }}</option>
      </select>
    </div>

    
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
