
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <h1>Formulario de Registro</h1>
            </div>
            <hr>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido">
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su número de teléfono">
                </div>
                <div class="form-group">
                    <label for="estadoCivil">Estado Civil</label>
                    <select class="form-control" id="estadoCivil">
                        <option value="soltero">Soltero</option>
                        <option value="casado">Casado</option>
                        <option value="divorciado">Divorciado</option>
                        <option value="viudo">Viudo</option>
                    </select>
                </div>
                <hr>
                           <div class="text-center">>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="submit" class="btn btn-danger">Cancelar</button> 
                           </div>
                
            </form>
        </div>
    </div>
</div>
</body>